version: '3.7'

services:
  web:
    build: api_yamdb:latest
    restart: always
    volumes:
      - static_value:/app/static
      - media_value:/app/media
    env_file: 
      - ./.env
    depends_on:
      - db
  db:
    image: postgres:12.4
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file: 
      - ./.env

  nginx:
    image: nginx:1.19.3
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_value:/var/html/static/
      - media_value:/var/html/media/
    ports:
      - 81:80
    depends_on:
      - web

volumes:
  postgres_data:
  static_value:
  media_value: